<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem-vindo ao recicle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="background-color: #00994c; color: #E0E0E0;">
    <h1>
        REcicle
    </h1>
</div>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">REcicle</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded   " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Motorista</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/motorista/"> link</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Cliente</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="/cliente/"> link</a>
                    </div>
                </div>
            </div>

        </div>

</body>
</html>