<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerar Pagamento</title>
</head>
<body>
    <form method="POST" action="gerar/">
        <input type="text" name="nome_empresa"><br>
	  	<select>
	  		<option value="1"  name="mes">Janeiro</option>
	  		<option value="2"  name="mes">Fevereiro</option>
	  		<option value="3"  name="mes">Março</option>
	  		<option value="4"  name="mes">Abril</option>
	  		<option value="5"  name="mes">Maio</option>
	  		<option value="6"  name="mes">Junho</option>
	  		<option value="7"  name="mes">Julho</option>
	  		<option value="8"  name="mes">Agosto</option>
	  		<option value="9"  name="mes">Setembro</option>
	  		<option value="10" name="mes">Outubro</option>
	  		<option value="11" name="mes">Novembro</option>
	  		<option value="12" name="mes">Dezembro</option>

	  	</select>


  		<input type="submit" value="Submit">


    </form>
</body>
</html>